.container {
    margin: 0 auto;
    width: 1120px;
}

.wrapper {

    margin-top: 60px;
    display: flex;

    flex-direction: row;
}

.photo {

    margin-right: 40px;
    display: block;
}

.photo__mobile {
    display: none;
}

.biography {
    flex: 1;
    position: relative;

}

.biography h3 {
    letter-spacing: 1px;
    margin-left: 4px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.biography h3 span {
    color: white;
}

.biography h2 {
    margin-bottom: 20px;
}

.line {
    margin-bottom: 20px;
    display: block;
    width: 60px;
    height: 3px;
    background-color: #9d4100;
}

.biography p {
    width: 100%;
    height: 100px;
    color: black;
    font-size: 16px;
    /* text-align: justify; */
    margin-bottom: 40px;
}

.circle {
    z-index: -1;
    top: 0%;
    left: 0px;
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #9d4100;
}

.skillsBlock {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 20px 175px;
}

.skillsBlock__wrapper {
    display: flex;
}

.skillsBlock__img {
    margin-right: 20px;
    position: relative;
}

.skillsBlock__img img {
    margin: 15px 0px 0px 15px;
}

.skillsBlock__text {
    width: 100%;
}

.skillsBlock__text h3 {
    letter-spacing: 1px;
}

.skillsBlock__text p {
    /* text-align: start; */
}




@media(max-width:1140px) {
    .container {
        margin: 0 auto;
        width: 1000px;
    }

    .skillsBlock {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        gap: 20px 60px;
    }

}

@media(max-width:1020px) {
    .container {
        margin: 0 auto;
        width: 95%;
    }

    .wrapper {

        margin-top: 60px;
        display: flex;

        flex-direction: column;
    }

    .photo {
        margin-bottom: 20px;
        width: 100%;
        margin-right: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .photo__pc {
        display: none;
    }

    .photo__mobile {

        display: block;

        width: 100%;
        height: 100%;
    }

    .skillsBlock__text {
        width: 100%;
    }

    .skillsBlock {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        gap: 0px 20px;
    }

    .skillsBlock__wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
    }

}