.container {
    margin: 0 auto;
    width: 1120px;
}

.wrapper {

    margin-top: 60px;
    display: flex;

    flex-direction: row;
}

.photo {

    margin-right: 40px;
    display: block;
}

.photo__mobile {
    display: none;
}

.biography {
    flex: 1;
    position: relative;

}

.biography h3 {
    letter-spacing: 1px;
    margin-left: 4px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.biography h3 span {}

.biography h2 {
    margin-bottom: 20px;
}

.line {
    margin-bottom: 20px;
    display: block;
    width: 60px;
    height: 3px;
    background-color: #ce5600;
}

.biography p {
    width: 100%;
    height: 100px;
    color: black;
    font-size: 16px;
    text-align: justify;

}

.circle {
    z-index: -1;
    top: 0%;
    left: 0px;
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #ce5600;
}

.skillsBlock {
    margin-top: 30px;
    display: flex;

}

.skillsBlock__wrapper {
    display: flex;
}

.skillsBlock__img {
    margin-right: 20px;
    position: relative;
}

.skillsBlock__img img {
    width: 40px;
    margin: 15px 0px 0px 15px;
}

.skillsBlock__text {
    width: 100%;
}

.skillsBlock__text h3 {
    letter-spacing: 1px;
}

.skillsBlock__text p {
    /* text-align: start; */
    height: 100%;
}






@media(max-width:1140px) {
    .container {
        margin: 0 auto;
        width: 1000px;
    }

    .skillsBlock {
        display: flex;

    }

}

@media(max-width:1020px) {
    .container {
        margin: 0 auto;
        width: 95%;
    }

    .wrapper {

        margin-top: 60px;
        display: flex;

        flex-direction: column;
    }

    .photo {
        margin-bottom: 20px;
        width: 100%;
        margin-right: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .photo__pc {
        display: none;
    }

    .photo__mobile {

        display: block;

        width: 100%;
        height: 100%;
    }

    .skillsBlock__text {
        width: 100%;
    }

    .skillsBlock {
        
        flex-direction: column;

    }

    .skillsBlock__wrapper {
        margin-top: 20px;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 26px;
    }

    .biography p {
        width: 100%;
        height: 200px;
        color: black;
        font-size: 30px;
        text-align: justify;

    }

    .circle {
        z-index: -1;
        top: -2px;
        left: 0px;
        position: absolute;
        content: '';
        width: 60px;
        height: 60px;
        border-radius: 100%;
        background: #ce5600;
    }

    .skillsBlock__text p {

        height: 100%;
    }

    .skillsBlock__img img {
        width: 50px;
        margin: 25px 0px 0px 25px;
    }



}