.fixed {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;

    height: 400px;
    width: 40px;
    z-index: 5;
    background: #ffffff3f;
    border-radius: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

.wrapper p {
    width: 100px;
    font-size: 18.72px;
    transform: rotate(-90deg) translate(-30px, 0%);

}


.wrapper span {
    margin: 10px 0;
    width: 2px;
    height: 100px;
    background-color: rgb(0, 0, 0);
}

.wrapper button {
    margin: 10px 0px;

}

.wrapper button img {
    transform: rotate(-90deg);
}