* {
    margin: 0;
    color: black;
    font-family: 'Roboto';
}

button {
    background-color: unset;
    border: unset;
    cursor: pointer;
}

p {
    font-size: 16px;
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
}